<div class="jumbotron">
  <div class="container">
    <h1 id="titulo1">Título</h1>
    <a class="btn btn-primary btn-lg" href="http://en1mes.com">En Un Mes <span class="glyphicon glyphicon-fire" style="color:orange"> </span></a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="page-header">
        <h3 class="_inline">Example page header </h3>
        <span class="label label-default">new</span>
      </div>
      <p class="titulos">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure explicabo labore incidunt illo, doloribus a ab consectetur nemo minima. Magnam aperiam, animi earum, accusamus optio distinctio sed! Officia, nesciunt, vero?</p>    
    </div>
    <div class="col-md-4">
      <div class="page-header">
        <h3 class="_inline">Example page header </h3>
        <span class="label label-default">new</span>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel officia ratione eveniet dolorem cum dolorum eius ullam odit, quia, vero libero minima dolore, vitae sed doloribus enim possimus, laborum quibusdam?</p>    
    </div>
    <div class="col-md-4">
      <div class="page-header">
        <h3 class="_inline">Example page header </h3>
        <span class="label label-default">new</span>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus reiciendis aperiam magni odio fugit perferendis, omnis veritatis atque quo voluptatum illum doloremque, ullam aliquid! Qui ad in itaque incidunt reiciendis.</p>
      <ul>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
        <li>item 4</li>
        <li>item 5</li>
      </ul>
      <ol>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
        <li>item 4</li>
        <li>item 5</li>
      </ol>
      <img class="img-responsive" src="http://www.autonica.com/wp-content/uploads/2014/06/ft-naranja.png" alt="auto">    
    </div>
  </div>
</div>
